
/* //////////////////////////////// */
.pen{
	font-size: 35px;
	padding: 20px;
	position: fixed;
	top: 2em;
	right: 3vw;
	border-radius: 50%;
	background-color: #eee;
	box-shadow: 6px 10px 20px rgba(87, 85, 85, 0.3);
	z-index: 2;
}
/* //////////////////////////////// */

/* //////////////////////////////// */

/* //////////////////////////////// */
.about_us{

}

.about_us .name{
	width: 11%;
}
.about_us .name p{

}
.about_us .name p::before{

}
.about_us .name p::after{

}
.about_us .about_txt{
;
}
.about_us .about_txt h1{
	
}
.about_us .about_txt h3{

}
.about_us .about_txt #found{
	
}
.about_us .about_txt .content p{
;
}
.about_us .about_txt .content p::before{

}
.about_us .about_txt a{

}
.about_us .about_txt a:hover{

}
/* //////////////////////////////// */
.offer{
	width: var(--web_size);

	background-color: rgb(102, 175, 84);
}
.offer .offer_title{

}
.offer .offer_title h1{

}
.offer .offer_title h3{

}
.offer .meal{

}
.offer .meal .meal_card{

}
.offer .meal .meal_card .meal_card_top{
	
}
.offer .meal .meal_card .card_txt{

}
.offer .meal .meal_card .card_txt h2{
	
}
.offer .meal .meal_card .card_txt h3{
	order: -1;
	
}
.offer .meal .meal_card .card_txt p{
	
}
.offer .meal .meal_card .card_pic{

}
.offer .meal p{
	
}
.offer .meal .order{

}
.offer .meal .order:hover{

}
.offer .meal .menu{

}
.offer .meal .menu:hover{

}
.offer .meal .menu::after{

}
/* //////////////////////////////// */
.work{
	width: var(--web_size);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 6rem 0;
}
.work .work_title{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.work .work_title h1{
	padding-bottom: 4rem;
	font-size: 40px;
}
.work .work_title h3{
	color: #777;
	order: -1;
	padding-bottom: 2rem
}
.work .work_content{
	display: flex;
	justify-content: center;	
}
.work .work_content .work_card{
	width: 20%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 2rem;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
	background-color: yellow;
	justify-content: space-between;
}
.work .work_content .work_card h3{
	font-size: 20px;
	padding: 1rem 0;
	position: relative;
}
.work .work_content .work_card:nth-child(1){
	background-color: rgb(255, 247, 140);
	position: relative;
	transition: 1s;
}
.work .work_content .work_card:nth-child(1):hover{
	bottom: 0.5rem;
}
.work .work_content .work_card:nth-child(1)::after{
	content: '------->';
	position: absolute;
	right: -5.5rem;
	top: 40%;
}
.work .work_content .work_card:nth-child(1) h3::before{
	content: '01';
	padding: 1rem;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 50%;
	position: absolute;
	top: -3rem;
	left: -3rem;
	box-shadow: 5px 5px 10px #bbb;
}
.work .work_content .work_card:nth-child(2){
	background-color: rgb(210, 240, 248);
	position: relative;
	transition: 1s;
}
.work .work_content .work_card:nth-child(2):hover{
	bottom: 0.5rem;
}
.work .work_content .work_card:nth-child(2)::after{
	content: '------->';
	position: absolute;
	right: -5.5rem;
	top: 40%;
}
.work .work_content .work_card:nth-child(2) h3::before{
	content: '02';
	padding: 1rem;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 50%;
	position: absolute;
	top: -3rem;
	left: -3rem;
	box-shadow: 5px 5px 10px #bbb;
}
.work .work_content .work_card:nth-child(3){
	background-color: rgb(212, 248, 212);
	position: relative;
	transition: 1s;
}
.work .work_content .work_card:nth-child(3):hover{
	bottom: 0.5rem;
}
.work .work_content .work_card:nth-child(3) h3::before{
	content: '03';
	padding: 1rem;
	background-color: white;
	border: 1px solid #eee;
	border-radius: 50%;
	position: absolute;
	top: -3rem;
	left: -3rem;
	box-shadow: 5px 5px 10px #bbb;
}
/* //////////////////////////////// */
.value{
	width: var(--web_size);
	display: flex;
	background-color: rgb(102, 175, 84);
	color: white;
	padding: 10rem 0;
	overflow: hidden;
}
.value .value_txt{
	width: 55%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.value .value_txt .value_txt_content{ 
	width: 50%;
	box-sizing: border-box;
	padding: 0 0 1.5rem 1.5rem;
}
.value .value_txt .value_txt_content h3{ 
	display: flex;
	font-size: 20px;
	align-items: center;
	padding-bottom: 1rem;
}
.value .value_txt .value_txt_content .fas{ 
	font-size: 50px;
	margin-right: 1.5rem;
}
.value .value_pic{
	width: 45%;
	display: flex;
	flex-wrap: wrap;	
	position: relative;
}
.value .value_pic img:nth-child(1){
	width: 70%;
	position: absolute;
	top: -25%;
	left: -5%;
}
.value .value_pic img:nth-child(2){
	width: 50%;
	position: absolute;
	top: -30%;
	right: -20%;
}
.value .value_pic img:nth-child(3){
	width: 85%;
	position: absolute;
	bottom: -100%;
	left: 0;
}
.value .value_pic img:nth-child(4){
	width: 35%;
	position: absolute;
	bottom: -30%;
	right: -10%;
}
/* //////////////////////////////// */
.client{
	width: var(--web_size);
	display: flex;
	justify-content: center;
	padding: 5rem 0;
}
.client .client_pic{
	width: 50%;
	position: relative;
}
.client .client_pic img:nth-child(1){
	position: absolute;
	top: -2rem;
	right: 6rem;
	border: transparent solid;
	border-radius: 50%;
	transition: 1s;
}
.client .client_pic img:nth-child(1):hover{
	border: solid 4px rgb(218, 248, 212);
	top: -3rem;
	right: 5rem;
	border-radius: 50%;
	padding: 1rem;
}
.client .client_pic img:nth-child(2){
	position: absolute;
	top: 8rem;
	left: 2rem;
	border: transparent solid;
	border-radius: 50%;
	transition: 1s;
}
.client .client_pic img:nth-child(2):hover{
	border: solid 4px rgb(218, 248, 212);
	top: 7rem;
	left: 1rem;
	border-radius: 50%;
	padding: 1rem;
}
.client .client_pic img:nth-child(3){
	position: absolute;
	bottom: 0;
	right: 3rem;
	border: transparent solid;
	border-radius: 50%;
	transition: 1s;
}
.client .client_pic img:nth-child(3):hover{
	border: solid 4px rgb(218, 248, 212);
	bottom: -1rem;
	right: 2rem;
	border-radius: 50%;
	padding: 1rem;
}
.client .client_txt{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.client .client_txt h1{
	padding-bottom: 3rem;
	font-size: 40px;
}
.client .client_txt h3{
	color: #777;
	order: -1;
	padding-bottom: 2rem
}
.client .client_txt .client_message{
	display: flex;
}
.client .client_txt .client_message i{
	font-size: 35px;
	color: green;
	padding-right: 2rem;
}	

.client .client_txt p{
	font-size: 18px;
	width: 90%;
	line-height: 2rem;
	padding-bottom: 3rem;
}
.client .client_txt a{
	display: inline-block;
	padding: 1rem 3rem;
	margin: 3rem 0;
	text-align: center;
	background-color: rgb(102, 175, 84);
	color: white;
	font-size: 18px;
	text-decoration: none;
	border-radius: 30px;
	box-shadow: 0px 5px 0px rgb(76, 131, 63);
	transition: 1s;
}
.client .client_txt a:hover{
	background-color: rgb(29, 42, 52);
	box-shadow: 0px 5px 0px rgb(29, 42, 52);
}
/* //////////////////////////////// */
.footer{
	width: var(--web_size);
	display: flex;
	justify-content: center;
	padding: 5rem 0 15rem;
	background-color: #ddd;
}
.footer .footer_title{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 2rem;
}
.footer .footer_title img{
	width: 60%;
}
.footer .footer_body{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}
.footer .footer_body .footer_content{
	width: 25%;
	margin: 0 1rem;
}
.footer .footer_body .footer_content .title{
	padding-bottom: 1.5rem;
}
.footer .footer_body .footer_content a{
	display: block;
	text-decoration: none;
	color: black;
	padding-bottom: 1rem;
}
.footer .footer_body .footer_content .contract_us{
	display: flex;
	padding-bottom: 1rem;
}
.footer .footer_body .footer_content .contract_us p{
	padding-right: 1rem;
	line-height: 2rem;
}
.footer .footer_body .footer_content .contract_us a{
	display: block;
	padding: 0;
	line-height: 2rem;
}
.footer .icon{
	width: 100%;
	margin-left: 1rem;
}
.footer .icon a{
	display: inline-block;
	font-size: 20px;
	border: solid 1px #777;
	border-radius: 50%;
	padding: 0.5rem;
}
.footer .icon a:nth-child(1){
	color: blue;
}
.footer .icon a:nth-child(2){
	color: #444;
}
.footer .icon a:nth-child(3){
	color: red;
}