body{
	/* background-color: #eee; */
}
p{
	line-height: 1.5em;
	padding: 0.5em 0;
}
/* header */
.navbar{
	padding: 20px;
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 2;
	box-shadow: 0 3px 10px #eee;
}
.navbar a{
	text-decoration: none;
	color: black;
}
.navbar input{
	display: none;
}
.navbar .home-logo a:hover,
.navbar .nav-list a:hover{
	color: red;
}
.navbar .home-logo{
	display: flex;
}
.navbar .home-logo img{
	width: 40px;
	vertical-align: bottom;
}
.navbar .home-logo h2{
	display: inline;
}

.navbar .hanberger i{
	font-size: 25px;
}

/* banner */
.banner{
	background: center url('pic/banner-home.jpeg');
	clip-path: polygon(100% 0, 100% 85%, 33% 100%, 0 85%, 0 0);
	height: 600px;
	background-size: cover;
}
.banner .row{
	padding-top: 70px;
	color: white;
}
.banner .item h1{
	font-size: 50px;
}
.banner .item a,
.report footer a,
.lesson footer a,
.article footer a{
	display: inline-block;
	margin-top: 50px;
	padding: 15px 30px;
	background-color: rgb(255, 20, 54);
	border-radius: 5px;
	text-decoration: none;
	color: white;
}
.banner .item a:hover,
.report footer a:hover,
.lesson footer a:hover,
.article footer a:hover{
	background-color: rgb(176, 26, 26);
}

/* about-us */
.about-us{
	text-align: center;
	padding: 45px 0;
}
.about-us .about-us-title h2,
.about-us .about-us-title span,
.teacher .teacher-title h2,
.teacher .teacher-title span,
.report .report-title h2,
.report .report-title span,
.lesson .lesson-title h2,
.lesson .lesson-title span,
.full-class .full-class-title h2,
.full-class .full-class-title span,
.student .student-title h2,
.student .student-title span,
.article .article-title h2,
.article .article-title span{
	font-size: 25px;
}
.about-us .about-us-title h2,
.teacher .teacher-title h2,
.report .report-title h2,
.lesson .lesson-title h2,
.full-class .full-class-title h2,
.student .student-title h2,
.article .article-title h2{
	padding: 1.5rem 0;
}
.about-us .about-us-title h2 span,
.teacher .teacher-title h2 span,
.report .report-title h2 span,
.lesson .lesson-title h2 span,
.full-class .full-class-title h2 span,
.student .student-title h2 span,
.article .article-title h2 span{
	position: relative;
	padding: 2rem 0;
}
.about-us .about-us-title h2 span::after,
.teacher .teacher-title h2 span::after,
.report .report-title h2 span::after,
.lesson .lesson-title h2 span::after,
.full-class .full-class-title h2 span::after,
.student .student-title h2 span::after,
.article .article-title h2 span::after{
	display: inline-block;
	content: '';
	width: 100%;
	height: 2px;
	background-color: red;
	position: absolute;
	top: 4rem;
	left: 0;
}
.about-us .about-us-content{
	justify-content: center;
}
.about-us .about-us-card img{
	max-width: 230px;
	vertical-align: bottom;
}
.about-us .about-us-card h3{
	padding: 20px 0;
}
.about-us .about-us-card p{
	font-size: 16px;
	line-height: 1.5em;
}

.background{
	background-color: #eee;
	clip-path: polygon(0 1%, 33% 0, 100% 1%, 100% 99%, 33% 100%, 0 99%);
}
/* teacher */
.teacher{
	padding: 150px 0;
}
.teacher .teacher-card{
	margin: 30px 0;
}
.teacher .teacher-card .card{
	height: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 30px 40px;
}
.teacher .header{
	align-items: center;
	border-bottom: solid 1px #ddd;
	flex-direction: column;
}
.teacher .header .teacher-pic img{
	width: 100%;
	border-radius: 50%;
	vertical-align: bottom;
}
.teacher .header .teacher-name h3 span{
	display: block;
	padding: 15px 0;
	position: relative;
}
.teacher .header .teacher-name h3 span:first-child{
	font-size: 16px;
}
.teacher .header .teacher-name h3 span:first-child:after{
	display: inline-block;
	content: '';
	width: 12%;
	height: 2px;
	background-color: red;
	position: absolute;
	top: 2rem;
	left: 0;
}
.teacher .header .teacher-name li{
	display: inline-block;
	padding: 10px 0;
}
.teacher .header .teacher-name li i,
.contact-us .footer-social-list li i{
	color: #bbb;
}
.teacher .header .teacher-name li i:hover,
.contact-us .footer-social-list li i:hover{
	color: #555;
}
.teacher .main-content{
	padding: 20px 0;
}
.teacher .main-content p,
.teacher .class-link p{
	font-size: 16px;
	position: relative;
}
.teacher .class-link p::after{
	content: '';
	width: 85%;
	height: 1px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
}
.teacher .main-content a{
	text-decoration: none;
	font-size: 16px;
	color: red;
}
.teacher .main-content a:hover{
	text-decoration: underline;
}
.teacher .class-link a{
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	color: red;
	padding: 10px;
	border-radius: 5px;
	border: solid 1px red;
	margin-top: 25px;
	margin-right: 10px;
}
.teacher .class-link a:hover{
	color: white;
	background-color: red;
}

/* report */
.report{
	padding: 45px 0;
}
.report .report-title,
.report footer,
.lesson footer,
.student .student-title,
.article .article-title,
.article footer{
	text-align: center;
}
.report .report-main h4 a{
	font-size: 25px;
	text-decoration: none;
	color: black;
}
.report .report-main h4 a:hover{
	color: red;
}
.report .report-main p{
	font-size: 16px;
	color: #777;
}
/* lesson */
.lesson{
	background-color: rgb(37, 42, 54);
	clip-path: polygon(0 5%, 33% 0, 100% 5%, 100% 95%, 66% 100%, 0 95%);
	padding: 150px 0;
}
.lesson .lesson-title{
	justify-content: center;
	padding-bottom: 100px;
}
.lesson .lesson-title h2{
	color: white;
}
.lesson .lesson-title .left-title p{
	color: #bbb;
	font-size: 16px;
}
.lesson .hexagon-box{
	height: 360px;
	clip-path: polygon(0 20%, 66% 0, 100% 20%, 100% 80%, 33% 100%, 0 80%);
	background-color: red;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 50px;
}
.lesson .hexagon-box .item{
	margin: auto;
	color: white;
}
.lesson .hexagon-box .item h3{
	font-size: 25px;
}
.lesson .hexagon-box .item p{
	font-size: 16px;
}
.lesson .hexagon-box .item a{
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.lesson .lesson-card .item{
	border-radius: 15px;
	background-color: white;
	position: relative;
}
.lesson .lesson-card .item:hover{
	box-shadow: 0 10px 0 red;
	bottom: 10px;
}
.lesson .lesson-card a,
.full-class .full-class-card a{
	text-decoration: none;
	color: #777;
}
.lesson .lesson-card .item img,
.full-class .full-class-card .item img{
	width: 100%;
	vertical-align: bottom;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.lesson .lesson-card .item div,
.full-class .full-class-card .item div:nth-child(2){
	padding: 10px 20px;
}
.lesson .lesson-card .item p,
.full-class .full-class-card .item p{
	font-size: 16px;
	display: flex;
}
.lesson .lesson-card .item p:first-child{
	display: inline-block;
	border: solid 1px;
	font-size: 12px;
	padding: 0.3em;
	border-radius: 5px;
	margin-bottom: 1em;
}
.lesson .lesson-card .item p:nth-child(2){
	border-top: solid 1px;
}
.lesson .lesson-card .item p span{
	font-size: 16px;
	margin-left: auto;
}

/* full-class */
.full-class{
	padding: 50px 0 200px;
}
.full-class .row:nth-child(2){
	justify-content: center;
}
.full-class .full-class-card{
	max-width: 580px;
}
.full-class .full-class-card .item{
	border-radius: 15px;
	position: relative;
}
.full-class .full-class-card .item:hover{
	box-shadow: 0 10px 0 red;
	bottom: 10px;
}
.full-class .full-class-card:nth-child(1) .item{
	background-image: url(pic/learning-im_coding_it-2e61e20cb43462295664b6dcfe31b74a.png);
}
.full-class .full-class-card:nth-child(2) .item{
	background-image: url(pic/learning-astro_camp-64eb918a606cc2d3b75bae289447aee8.png);
}
.full-class .full-class-card .card-pic{
	padding: 50px 0;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}
.full-class .full-class-card .item .card-pic p{
	display: block;
	color: white;
	font-size: 30px;
	text-align: center;
}
.full-class .full-class-card .card-txt{
	background-color: white;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.full-class .full-class-card .card-txt p:first-child{
	font-size: 20px;
	border-bottom: solid 1px #ccc;
}
.full-class .full-class-card .card-txt span{
	font-size: 16px;
	color: red;
}
.full-class .full-class-card .card-txt span:hover{
	text-decoration: underline;
}

/* student */
.student{
	padding: 50px;
}
.student .student-content .item{
	padding: 20px;
	border: solid 1px;
	border-radius: 15px;
}
.student .student-content p{
	font-size: 16px;
}
.student .student-content .student-name{
	display: flex;
}
.student .student-content img{
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

/* article */
.article {
	padding: 100px 0;
}
.article .article-content .item img{
	vertical-align: bottom;
	width: 100%;
	height: 240px;
	border-radius: 10px;
}
.article .article-content a{
	text-decoration: none;
	color: black;
}
.article .article-content .item h3{
	font-size: 25px;
	margin: 20px 0 5px;
}
.article .article-content .item:hover h3{
	color: red;
}
.article .article-content .item p{
	font-size: 12px;
	color: #aaa;
}

/* contact-us */
.contact-us{
	background-color: rgb(37, 42, 54);
	padding: 200px 0 50px;
	clip-path: polygon(33% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
}
.contact-us .footer-content h4{
	font-size: 18px;
	color: white;
}
.contact-us .footer-content a{
	display: block;
	font-size: 15px;
	text-decoration: none;
	color: white;
	padding: 10px 0;
}
.contact-us .footer-content a:hover{
	color: red;
}
.contact-us .footer-social-list{
	display: flex;
	padding: 50px 0;
}
.contact-us .footer-social-list li{
	display: block;
	margin: auto;
}
.contact-us .footer-social-list li i{
	font-size: 30px;
}
.end{
	font-size: 15px;
	text-align: center;
	padding: 15px;
	background-color: rgb(23, 28, 40);
	color: #aaa;
}





/* md-768 */
@media screen and (min-width:768px){
	.banner .row{
		padding-top: 90px;
	}
	.about-us .about-us-title h2,
	.about-us .about-us-title span,
	.teacher .teacher-title h2,
	.teacher .teacher-title span,
	.report .report-title h2,
	.report .report-title span{
		font-size: 30px;
	}
	.background{
		clip-path: polygon(0 2%, 33% 0, 100% 2%, 100% 98%, 33% 100%, 0 98%);
	}
	.contact-us{
		clip-path: polygon(33% 0, 100% 15%, 100% 100%, 0 100%, 0 15%);
	}
	.teacher .header{
		flex-direction: row;
	}
	.contact-us .footer-icon{
		justify-content: center;
	}
}
/* lg-1024 */
@media screen and (max-width:1024px){
	.navbar .nav-list{
		position: absolute;
		top: -500%;
		left: 0;
		flex-direction: column;
		background-color: white;
		width: 100%;
	}
	.navbar .nav-list li{
		padding: 20px 0 20px 20px;
	}
	.navbar .nav-list a{
		font-size: 25px;
	}
	#controller:checked ~ .nav-list{
		top: 100%;
	}
}
@media screen and (min-width:1024px){
	.navbar .hanberger i{
		display: none;
	}
	.navbar .nav-list{
		margin-right: 30px;
	}
	.navbar ul{
		display: flex;
		flex-direction: row;
		list-style: none;
		justify-content: flex-end;
	}
	.navbar ul span{
		margin: 0 20px;
		position: relative;
	}
	.navbar ul span::after{
		content: '';
		width: 0;
		height: 2px;
		background-color: red;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -0.95rem;
		transition: width 0.5s;
	}
	.navbar ul span:hover::after{
		width: 100%;
	}
	.banner{
		clip-path: polygon(100% 0, 100% 80%, 33% 100%, 0 80%, 0 0);
	}
	.banner .row{
		padding-top: 110px;
	}
	.banner .banner-content{
		max-width: 1024px;
		margin: auto;
	}
	.background{
		background-color: #eee;
		clip-path: polygon(0 3%, 33% 0, 100% 3%, 100% 97%, 33% 100%, 0 97%);
	}
	.teacher .teacher-title{
		max-width: 940px;
		margin: auto;
	}
	.lesson{
		clip-path: polygon(0 10%, 33% 0, 100% 10%, 100% 90%, 66% 100%, 0 90%);
		padding: 250px 0;
	}
	.full-class .full-class-title{
		max-width: 1160px;
		margin: auto;
	}
	.contact-us{
		clip-path: polygon(33% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);
	}
}
/* xl-1200 */
@media screen and (max-width:1200px){
	.navbar .home-logo span{
		display: none;
	}
}